 .hero-image img {
    max-width: 100%;
 }

 .locheader, .eventheader{
     font-weight: 900;
 }

#about{
text-align: center;
color: black;
}

p.about{
    text-align: center;
}

.title2 {
color: #03A5BA;
            text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
            padding-top: 5em;;
            text-align: center;
}
