.carousel-indicators li {
  visibility: hidden;
}
.item {
  color: black;
  text-align: center;
}
.stats {
  background-color: #DAA520;
}
h1.join {
  color: black;
  font-stretch: expanded;
  text-align: center;
}
.jumbotron hr {
  border-top: 4px double #DAA520;
  text-align: center;
}
.embed-responsive {
  border: thin /*#DAA520*/ solid;
}
.offers {
  color: black;
  text-align: center;
  font-weight: bold;
}
span.glyphicon {
  display: block;
  text-align: center;
  color: #DAA520;
}
.offer {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}
.learn {
  background-color: #DAA520;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-top: .5em;
  margin-bottom: 2em;
}
.learn:hover {
  background-color: black;
  color: #DAA520;
}
