.mobileShow {
  display: none;
}
.mobileHide {
  display: list-item;
}
@media (max-width: 650px) {
  .mobileShow {
    display: list-item;
  }
  .mobileHide {
    display: none;
  }
  .leader {
    width: 100%;
    display: block;
  }
  [class*="col-"] {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mobileShow {
    display: list-item;
  }
  .mobileHide {
    display: none;
  }
  .leader {
    width: 100%;
    display: block;
  }
  [class*="col-"] {
    width: 100%;
  }
}
.leadership {
  margin-top: 5%;
  list-style-type: none;
}
.leader {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px 8px 0;
  margin: auto;
}
#leaderPage {
  border-top: 4px double black;
  text-align: center;
}
.team-left .img-lead {
  max-width: 100%;
  height: auto;
}
.card.founder {
  text-align: center;
}
p.titles {
  font-size: 24px;
  font-weight: bold;
  color: #DAA520;
}
div.jumbotron {
  text-align: center;
  color: black;
  background-color: #DAA520;
}
.leaders {
  list-style-type: none;
  display: block;
}
.names {
  color: black;
}
h1 {
  color: black;
}
.bio {
  color: black;
  font-weight: lighter;
  font-size: 2rem;
}
