@media (max-width: 650px) {
  .leader {
    width: 100%;
    display: block;
  }
}
.leader {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px 8px 0;
  margin: auto;
}
.img-lead {
  width: 150px;
  height: 194px;
}
.card.founder {
  text-align: center;
}
.meet {
  text-align: center;
  color: white;
}
ul.leaders {
  list-style-type: none;
  display: block;
}
.names {
  color: white;
}
h1 {
  color: white;
}
.bio {
  color: white;
}
.titles {
  color: white;
}
.mission {
  color: white;
}
