h1.join {
  color: black;
  font-stretch: expanded;
  text-align: center;
}
.jumbotron hr {
  border-top: 4px double #DAA520;
  text-align: center;
}
.productHeading {
  color: black;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}
.productPara {
  color: black;
  font-size: 2rem;
}
.lincImg {
  text-align: center;
  height: 100px;
  width: 960px;
  padding-bottom: 10px;
}
.lincImg img {
  display: block;
  margin: 0 auto;
  max-width: 150%;
  max-height: 150%;
}
.components li {
  list-style-image: url("../images/bullet_triangle_yellow.png");
}
.twoKeys {
  color: #DAA520;
  font-weight: bold;
}
.cashBenefits {
  color: black;
  font-size: 3rem;
  padding: 10px;
}
.learn {
  background-color: #DAA520;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 2px;
  border: 2px solid #001a33;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-top: 2em;
  margin-bottom: 2em;
}
.learn:hover {
  background-color: black;
  color: #DAA520;
}
