@import "https://fonts.googleapis.com/css?family=Cormorant+Garamond";
.hero-image img {
  min-width: 100%;
}
hr {
  border-top: 4px double #DAA520;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.locheader,
.eventheader {
  font-weight: 900;
}
#about {
  text-align: center;
  color: black;
  font-size: 5rem;
}
.about {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding: 12px;
  font-weight: lighter;
}
.title2 {
  color: #03A5BA;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  padding-top: 5em;
  text-align: center;
}
h1.join {
  color: black;
  font-stretch: expanded;
  text-align: center;
}
.jumbotron hr {
  border-top: 4px double #DAA520;
  text-align: center;
}
.productHeading {
  color: black;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}
.productPara {
  color: black;
  font-size: 2rem;
}
.lincImg {
  text-align: center;
  height: 100px;
  width: 960px;
  padding-bottom: 10px;
}
.lincImg img {
  display: block;
  margin: 0 auto;
  max-width: 150%;
  max-height: 150%;
}
.components li {
  list-style-image: url("../images/bullet_triangle_yellow.png");
}
.twoKeys {
  color: #DAA520;
  font-weight: bold;
}
.cashBenefits {
  color: black;
  font-size: 3rem;
  padding: 10px;
}
.learn {
  background-color: #DAA520;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 2px;
  border: 2px solid #001a33;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-top: 2em;
  margin-bottom: 2em;
}
.learn:hover {
  background-color: black;
  color: #DAA520;
}
img.carousel.img-responsive {
  width: 100%;
  height: 100%;
}
#mission {
  background: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
  border-bottom: #DAA520 7px solid;
  border-top: #000 7px solid;
}
#mission p {
  font-size: 32px;
  color: #000;
}
#mission hr {
  color: #000;
}
#topsales img {
  margin-top: 20px;
}
#topsales .topsales-right {
  margin-top: 120px;
}
#topsales .topsales-right h2 {
  color: #DAA520;
  text-align: center;
}
#topsales .topsales-right p {
  color: #000;
  font-size: 24px;
  text-align: center;
}
#vision .vision-left h1 {
  color: #DAA520;
  text-align: center;
}
#vision .vision-right h1 {
  color: #DAA520;
  text-align: center;
}
#vision .vision-left p {
  color: #000;
  font-size: 20px;
  text-align: center;
}
#vision .vision-right p {
  color: #000;
  font-size: 20px;
  text-align: center;
}
#vision {
  border-bottom: #DAA520 7px solid;
  border-top: #000 7px solid;
  margin: 20px 0 80px 0;
}
#ourMission {
  font-weight: bolder;
  color: #DAA520;
}
#ourVision {
  font-weight: bolder;
  color: #DAA520;
}
#showcase div.ng-enter {
  transition: 0.8s ease all;
  opacity: 0;
  transform: translateX(30px);
}
#showcase div.ng-enter {
  opacity: 1;
  transform: translateX(0);
}
.contactPage {
  margin-top: 5%;
}
hr {
  border-top: 4px double #DAA520;
  text-align: center;
}
.maps {
  margin: 10px;
  padding: 10px;
}
.locations {
  color: black;
  text-align: center;
}
.satellite {
  color: black;
  text-align: center;
}
.locheader {
  color: black;
  text-align: center;
}
.eventheader {
  color: black;
  text-align: center;
}
.address {
  color: black;
  text-align: center;
}
.events {
  color: black;
  text-align: center;
}
.loc {
  color: black;
  text-align: center;
}
section.gallery.ng-scope {
  margin-top: 5%;
}
img.galleries {
  display: block;
  width: 100%;
  height: auto;
}
.thumbnail {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #daa50d;
  opacity: .5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.thumbnail:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  color: black;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Page Header */
/* Three columns side by side */
/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* Add some shadows to create a card effect */
/* Some left and right padding inside the container */
/* Clear floats */
.mobileShow {
  display: none;
}
.mobileHide {
  display: list-item;
}
@media (max-width: 650px) {
  .mobileShow {
    display: list-item;
  }
  .mobileHide {
    display: none;
  }
  .leader {
    width: 100%;
    display: block;
  }
  [class*="col-"] {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mobileShow {
    display: list-item;
  }
  .mobileHide {
    display: none;
  }
  .leader {
    width: 100%;
    display: block;
  }
  [class*="col-"] {
    width: 100%;
  }
}
.leadership {
  margin-top: 5%;
  list-style-type: none;
}
.leader {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px 8px 0;
  margin: auto;
}
#leaderPage {
  border-top: 4px double black;
  text-align: center;
}
.team-left .img-lead {
  max-width: 100%;
  height: auto;
}
.card.founder {
  text-align: center;
}
p.titles {
  font-size: 24px;
  font-weight: bold;
  color: #DAA520;
}
div.jumbotron {
  text-align: center;
  color: black;
  background-color: #DAA520;
}
.leaders {
  list-style-type: none;
  display: block;
}
.names {
  color: black;
}
h1 {
  color: black;
}
.bio {
  color: black;
  font-weight: lighter;
  font-size: 2rem;
}
.carousel-indicators li {
  visibility: hidden;
}
.item {
  color: black;
  text-align: center;
}
.stats {
  background-color: #DAA520;
}
h1.join {
  color: black;
  font-stretch: expanded;
  text-align: center;
}
.jumbotron hr {
  border-top: 4px double #DAA520;
  text-align: center;
}
.embed-responsive {
  border: thin /*#DAA520*/ solid;
}
.offers {
  color: black;
  text-align: center;
  font-weight: bold;
}
span.glyphicon {
  display: block;
  text-align: center;
  color: #DAA520;
}
.offer {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}
.learn {
  background-color: #DAA520;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-top: .5em;
  margin-bottom: 2em;
}
.learn:hover {
  background-color: black;
  color: #DAA520;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #DAA520;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: black;
  color: white;
}
.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.applyh1 {
  color: black;
}
* {
  font-family: 'Cormorant Garamond, serif';
}
body {
  margin-top: 2em;
  margin-bottom: 5em;
  height: 100%;
  line-height: 1.8;
  color: #777;
}
.navbar-brand {
  padding: 0px;
}
img.brandImg {
  margin-top: -0.5em !important;
  height: 100%;
  padding: 15px;
  width: auto;
}
.container-fluid {
  height: 28px;
}
.navbar {
  margin-bottom: 0;
  background-color: #e4ba4e;
  /* .logo {
        height: 5em;
        width: 5em;
        margin-top: 0em;
    } */
}
.navbar .toplinks {
  color: white;
}
.navbar .nav.navbar-nav.navbar-right li a {
  color: #DAA520;
  margin-top: -2.1em;
}
.navbar #navtitle {
  height: 7em;
  width: 10em;
  margin-top: 5em;
}
.navbar .links {
  background-color: black;
  height: 3em;
  width: 3em;
  float: left;
}
.navbar img {
  height: 3.5em;
  width: 3.5em;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 0.5em;
  line-height: 3em;
}
.navbar .instagram {
  height: 1em;
  width: 1em;
  margin-top: 1em;
  margin-right: 1em;
}
.navbar .twitter {
  height: 1em;
  width: 1em;
  margin-top: 1em;
}
.navbar .apply {
  background-color: transparent;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-top: .5em;
}
.navbar .apply:hover {
  background-color: black;
  color: white;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
}
.navbar ul li a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  /* padding-top: 10px !important;
                padding-bottom: 10px !important;
                height: 28px;
                line-height: 8em;
                padding: 0;
                margin: 0; */
}
.navbar ul li a.toplinks:hover {
  color: white;
  background-color: black;
}
img.facebook {
  height: 1em;
  width: 1em;
  text-align: center;
}
.btn.btn-info {
  background-color: #DAA520;
}
.btn:hover {
  background-color: black;
  color: white;
  transition-duration: 0.4s;
}
.footer-distributed {
  text-align: center;
  line-height: 2em !important;
  height: 5em !important;
  height: 2em;
  background-color: black;
  color: white;
  line-height: 2em;
  font-size: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer-distributed a {
  color: white;
}
.footer-distributed a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  background: black;
  opacity: 0.3;
  transition: all 0.3s;
}
.footer-distributed a:hover:before {
  height: 100%;
}
.mailing {
  text-align: center;
  color: #DAA520;
}
@media screen and (max-width: 575px) {
  body {
    margin-top: 7em;
  }
  .navbar ul li a {
    line-height: 2em;
  }
  .navbar .links {
    background-color: transparent;
    margin-top: -1em;
  }
  img.brandImg {
    margin-top: .5em !important;
    height: auto;
    padding: 15px;
  }
  .navbar-header {
    background-color: black;
    height: 6em;
  }
  img.facebook {
    margin-top: 1em;
    height: 1em !important;
    width: 1em !important;
  }
  .nav.navbar-nav.navbar-right.words {
    display: inline-block;
  }
  #myNavbar {
    background-color: white;
    color: black;
  }
  #anotherID {
    background-image: url('../images/CG_bg_color.png');
  }
  .footer-distributed {
    text-align: center;
    line-height: 2em !important;
    height: 5em !important;
  }
  .navbar-toggle {
    display: inline-block;
    cursor: pointer;
    background-color: black !important;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #DAA520;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    margin-top: 10em;
  }
  img.brandImg {
    margin-top: .5em !important;
    height: auto;
    padding: 15px;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar ul li a {
    line-height: 1em;
  }
  .navbar .links {
    background-color: transparent;
    margin-top: -1em;
  }
  .navbar-header {
    float: none;
    background-color: black;
  }
  img.facebook {
    margin-top: 1em;
    height: 1em !important;
    width: 1em !important;
  }
  .nav.navbar-nav.navbar-right.words {
    display: inline-block;
  }
  #myNavbar {
    background-color: white;
    color: black;
  }
  #anotherID {
    background-image: url('../images/CG_bg_color.png');
  }
  .footer-distributed {
    text-align: center;
    line-height: 2em !important;
    height: 6em !important;
  }
  .navbar-toggle {
    display: block;
    cursor: pointer;
    background-color: black !important;
  }
  .navbar-collapse.collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #DAA520;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
main.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}
main.ng-enter.ng-enter-active {
  opacity: 1;
}
