<div class="hero-image">
	<img class='w3-image' src="../images/teampic1.jpg" alt="ABOUT US">
</div>

	<!--RIGHT SIDE DIV STARTS HERE-->
	<div class="row">
		<div class='col-sm-12'>
			<h1 id="about">ABOUT OUR COMPANY</h1>
			<p class="about">Lincoln Heritage Insurance Company was founded in 1963 by Jack London.  His <br>mission was to raise the bar fro prompt, friendly, and accurate service in the life <br>insurance industry.</p>
			<p class="about">Since 2007, the company has grown more than 10% per year.</p>
			<p class="about">Today, Lincoln Heritage is the number one Final Expense Company operating in 49
				<br>states with over 690,000 policies in force.</p>
			<p class="about">It's also an Accredited Better Business Bureau, with an A.M. Best rating of A-<br>(Excellence).</p>
			<p class="about">As a family-owned company, Lincoln Heritage provides the old-fashioned service you <br>deserve.</p>
		</div>
		<!--RIGHT SIDE DIV ENDS HERE-->