<div class="hero-image">
	<img class='w3-image' src="../images/about_us.jpg" alt="ABOUT US">
</div>

	<!--RIGHT SIDE DIV STARTS HERE-->
	<div class="row">
		<div class='col-sm-12'>
			<h1 id="about">About Our COMPANY</h1>
			<hr>
			<br>
			<p class="about">Lincoln Heritage Life Insurance Company was founded in 1963 
				— a time when final expense insurance claims could take several 
				months to be paid to policyholders. Meanwhile, the concept of 
				fast overnight claims payment and 24-hour service for both agents 
				and customers was more fiction than fact. As such, Lincoln Heritage's 
				founding mission was to set a new bar for prompt, friendly, and 
				accurate service in the life insurance industry.</p>
			<p class="about">Lincoln Heritage Life Insurance Company is an accredited Better Business 
				Bureau Business with an A.M. Best Rating of A- (Excellent). A.M. Best is 
				an organization that evaluates the financial strength of insurance companies.</p>
			<p class="about">	Commonly referred to as "burial insurance" or "funeral insurance," we provide final 
				expense life insurance quotes for people looking to protect their families from rising 
				funeral costs. As a family-owned company, Lincoln Heritage provides the old-fashioned, 
				personalized service you deserve. When you call us, we answer with compassion and care 
				— every time. We understand that you might be facing one of the most difficult days of 
				your life and we're here to make it easier.</p>
		</div>
		<!--RIGHT SIDE DIV ENDS HERE-->