<div class="container">
    <div class="jumbotron">
        <h1 class="join">Join Our <b>GROWING</b> TEAM</h1>
        <hr>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <h1 class="stats">WE DID <span style="color: #001a33; font-style: italic">$2.1M</span> In Production In 2017</h1>
            </div>

            <div class="item">
                <h1 class="stats">WE COVERED <span style="color: #001a33; font-style: italic">3,600</span> Families</h1>
            </div>

            <div class="item">
                <h1 class="stats">WE MENTORED <span style="color: #001a33; font-style: italic">50</span> Agents</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
    <br>
    <h1 class="join">WE <span style="font-style: italic">OFFER...</span>
        <h1>
            <br>
            <div class="row">
                <div class="col-md-offset-2 col-md-3">
                    <span class="glyphicon glyphicon-usd"></span>
                    <h3 class="offers">Competitive, Top Commission</h3>
                    <p class="offer">Same day advances. Residual income opportunity with no ceiling.</p>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <h3 class="offers">Real Growth Potential</h3>
                    <p class="offer">Management opportunities and promotions.</p>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-education"></span>
                    <h3 class="offers">Hands-On Training</h3>
                    <p class="offer">We have training tools and seminars in place so you never have to figure things out on your own. We will handle
                        all of your training.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-offset-2 col-md-3">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <h3 class="offers">Unparalleled Support</h3>
                    <p class="offer">Our home office reps are dedicated to supporting you in the field. + You'll receive free resources, marketing
                        &amp presentation materials</p>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <h3 class="offers">Benefits</h3>
                    <p class="offer">Group health and dental insurance for you and your family. You must meet qualifying production requirements.</p>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <h3 class="offers">Superior Lead System</h3>
                    <p class="offer">Fresh TV, Direct Mail, and Digital leads. There are people literally waiting to
                        see you every single day.</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary btn-lg learn" ng-click="goToApply()">APPLY NOW</button>
                    </div>
                </div>
</div>