<section class="contactPage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="loc">Our <b>LOCATIONS</h1>
        <hr>
</div>
</div>
    <div class='row'>
        <div class='col-xs-4'>
            <h1 class="locations">Birmingham, AL</h1>
            <!-- <p class="locheader">ADDRESS</p> -->
            <h4 class="address">2012 Old Montgomery Hwy.<br /> Birmingham, AL 35244<br /> Phone: (205) 555-555
            </h4>
            <h3 class="locheader">Opportunity Events</h3>
            <h4 class="events">Friday 9:30 a.m.</h4>
        </div>

        <div class='col-xs-4'>
            <h1 class="locations">Montgomery, AL</h1>
            <!-- <p class="eventheader">ADDRESS</p> -->
            <h4 class="address">156 Mendel Pkwy<br /> Montgomery, AL 36117<br /> Phone: (205) 555-555
            </h4>
            <h3 class="eventheader">Opportunity Events</h3>
            <h4 class="events">Friday 9:30 a.m.</h4>
        </div>
        <div class='col-xs-4'>
                <h1 class="locations">Jackson, MS</h1>
                <!-- <p class="eventheader">ADDRESS</p> -->
                <h4 class="address">330 Edgewood Terrace Drive<br /> Jackson, MS 39206<br /> Phone: (205) 555-555
                </h4>
                <h3 class="eventheader">Opportunity Events</h3>
                <h4 class="events">Tuesday 9:30 a.m.</h4>
            </div>
    </div>
    <!--LEFT SIDE DIV ENDS HERE-->

    <!--GOOGLE MAP STARTS HERE-->
    <div class="row">
        <div class="col-xs-4">
            <!-- <div class="col-md-12"> -->
                    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.8916381459526!2d-86.80383028518627!3d33.347780680803496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888923b5f6cd7bb3%3A0x2b7504e2d419809f!2s2012+Old+Montgomery+Hwy%2C+Birmingham%2C+AL+35244!5e0!3m2!1sen!2sus!4v1516881207859" 
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- </div> -->
        </div>      
        <div class="col-xs-4">
            <!-- <div class="col-md-12"> -->
                    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.4626531560766!2d-86.20474708521517!3d32.379957581093734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888c2bdb183a5bb7%3A0x685c92e072a02f6c!2s156+Mendel+Pkwy%2C+Montgomery%2C+AL+36117!5e0!3m2!1sen!2sus!4v1516881083446" 
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- </div> -->
        </div>
        <div class="col-xs-4">
                <!-- <div class="col-md-12"> -->
                        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3370.036283690893!2d-90.15741408521563!3d32.364572181098424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8629cd50df9938ed%3A0xc16cb095d9dbb4ce!2s330+Edgewood+Terrace+Dr%2C+Jackson%2C+MS+39206!5e0!3m2!1sen!2sus!4v1516881313675" 
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <!-- </div> -->
            </div>
    </div>
    <br>
    <!--GOOGLE MAP ENDS HERE-->

    <!--SATELLITE LOCATIONS START HERE-->
    <div class="col-xs-12">
            <h1 class="loc">Our <b/>Satellite LOCATIONS</h1>
                <hr>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <h2 class="locations">HUNTSVILLE, AL</h2>
                <h4 class="satellite">717 University Dr.<br/>Suite 98<br/>Huntsville, AL 35816</h4>
            </div>
            <div class="col-xs-4">
                <h2 class="locations">DOTHAN, AL</h2>
                <h4 class="satellite">717 University Dr.<br/>Suite 98<br/>Dothan, AL 35816</h4>
            </div>
            <div class="col-xs-4">
                <h2 class="locations">MOBILE, AL</h2>
                <h4 class="satellite">Marriot Mobile<br/>3101 Airport Boulevard<br/>Mobile, AL 36606</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6">
                <h2 class="locations">TUPELO, MS</h2>
                <h4 class="satellite">Courtyard Marriot<br/>1320 North Gloster Street<br/>Tupelo, MS 38804</h4>
            </div>
            <!-- <div class="col-xs-4">
                <h2 class="locations">DESOTO, MS</h2>
                <h4 class="satellite">Courtyard Marriot<br/>1320 North Gloster Street<br/>Tupelo, MS 38804</h4>
            </div> -->
            <div class="col-xs-6">
                <h2 class="locations">GULFPORT, MS</h2>
                <h4 class="satellite">Comfort Suites Gulfport<br/>9121 US 49<br/>Gulfport, MS 39503</h4>
            </div>
            </div>
        </div>
</section>