<section class="leadership">
  <div class="container">
      <div class="jumbotron">
        <h1 class="meet">The <b>GALLERY</b></h1>
        <hr id="leaderPage">
      </div>
  </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="thumbnail">
          <img class="galleries" ng-src="../images/fcgs2017.jpg" alt="Capital Group Team">
          <div class="overlay">
            <div class="text">FCGS Spirit Award</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
          <div class="thumbnail">
            <img class="galleries" ng-src="../images/home_office.jpg" alt="Capital Group Team">
            <div class="overlay">
              <div class="text">Home Office Visit</div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
            <div class="thumbnail">
              <img class="galleries" ng-src="../images/jackson_office.png" alt="Capital Group Team">
              <div class="overlay">
                <div class="text">Jackons, MS Office</div>
              </div>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
          <div class="thumbnail">
            <img class="galleries" ng-src="../images/puertoRico2017.png" alt="Capital Group Team">
            <div class="overlay">
              <div class="text">Leadership Retreat - Puerto Rico</div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
            <div class="thumbnail">
              <img class="galleries" ng-src="../images/fridayMeeting.jpg" alt="Capital Group Team">
              <div class="overlay">
                <div class="text">Birmingham Meeting</div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail">
                <img class="galleries" ng-src="../images/home_office(2).jpg" alt="Capital Group Team">
                <div class="overlay">
                  <div class="text">Home Office Visit</div>
                </div>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
            <div class="thumbnail">
              <img class="galleries" ng-src="../images/promotions.jpg" alt="Capital Group Team">
              <div class="overlay">
                <div class="text">Promotions!</div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail">
                <img class="galleries" ng-src="../images/team_lunch_ar.jpg" alt="Capital Group Team">
                <div class="overlay">
                  <div class="text">Team Lunch</div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                  <img class="galleries" ng-src="../images/presentation.jpg" alt="Capital Group Team">
                  <div class="overlay">
                    <div class="text">Platinum Ambassador Lassiter Presenting</div>
                  </div>
                </div>
              </div>
        </div>
</section>