<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1 class="meet">MEET OUR MANAGEMENT TEAM</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="leaders">
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/fernando_bio.png" alt="Fernando Lassiter" width="250px" height="250px">
            </p>
            <h2 class="names">Fernando Lassiter</h2>
            <p class="titles">
              Founder
            </p>
            <p class="bio">
              Began his career at Lincoln Heritage in 2014 and has since grown...
            </p>
          </li>
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/shenna_bio.png" alt="Shenna Michelle" width="250px" height="250px">
            </p>
            <h2 class="names">Shenna Michelle</h2>
            <p class="titles">
              MGA
            </p>
            <p class="bio">
              Began her career at Lincoln Heritage...
            </p>
          </li>
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/donaldo_bio.png" alt="Donaldo Harris" width="250px" height="250px">
            </p>
            <h2 class="names">Donaldo Harris</h2>
            <p class="titles">
              MGA
            </p>
            <p class="bio">
              Began his career at Lincoln Heritage...
            </p>
          </li>
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/donaldo_bio.png" alt="Mike Hayes" width="250px" height="250px">
            </p>
            <h2 class="names">Mike Hayes</h2>
            <p class="titles">
              MGA
            </p>
            <p class="bio">
              Began his career at Lincoln Heritage...
            </p>
          </li>
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/donaldo_bio.png" alt="Robin Richardson" width="250px" height="250px">
            </p>
            <h2 class="names">Robin Richardson</h2>
            <p class="titles">
              MGA
            </p>
            <p class="bio">
              Began his career at Lincoln Heritage...
            </p>
          </li>
          <li>
            <p class="team-left">
              <img class="img-lead" src="../images/donaldo_bio.png" alt="Ervin Davis" width="250px" height="250px">
            </p>
            <h2 class="names">Ervin Davis</h2>
            <p class="titles">
              MGA
            </p>
            <p class="bio">
              Began his career at Lincoln Heritage...
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h1>OUR MISSION</h1>
        <p class="mission">A mission statement is a short statement of an organization's purpose, identifying the scope of its operations: what
          kind of product or service it provides, its primary customers or market, and its geographical region of operation.</p>
        <h1>OUR VISION</h1>
        <p class="mission">A vision statement is sometimes called a picture of your company in the future but it's so much more than that. Your
          vision statement is your inspiration...</p>
      </div>
    </div>
  </div>
</section>