<section class="leadership">
  <div class="container mobileHide">
    <div class="jumbotron">
      <h1 class="meet">Meet Our <b>LEADERSHIP</b> TEAM</h1>
      <hr id="leaderPage">
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/fernando_bio.png" alt="Fernando Lassiter">
            </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Fernando</i> Lassiter</h2>
        <p class="titles">
          Founder
        </p>
        <p class="bio">
            Fernando Lassiter grew up in North Carolina.  He is the oldest of three siblings.  
            He attended North Carolina Central University for three years where he studied Accounting.  
            He then decided to pursue small business ownership.  He also spent over fifteen years in 
            the retail sales industry selling appliances and electronics.  He spent three years in the 
            pharmaceutical manufacturing industry.  He was also involved in the direct sales industry 
            where he was introduced to the astounding benefits of Personal Development.  Realizing that 
            traditional employment could make you a decent living but rarely a six-figure income, he 
            always kept his business options open.</p>
            
        <p class="bio">
            Fernando has always had a passion for working with and helping others.  He has always had a 
            Problem Solvers’ mentality.</p>
            
        <p class="bio">
            In 2013, he was presented with a unique opportunity to work with Mr. Sean Simmons and his 
            Insurance Agency, Agent Success Management in Alabama.  After three years of management 
            training in the Agent Success Management system, he established The Capital Group Insurance 
            Agency.  The Capital Group Insurance Agency is the second largest and second highest producing 
            agency under the ASM umbrella.</p>
            
        <p class="bio">
            Fernando is extremely excited about the future of The Capital Group Insurance Agency.  
            Having earned a six-figure income in his second year with ASM, he’s excited about working 
            directly with the up and coming six-figure earners associated within The Capital Group team.   
            The Capital Group is dedicated to taking care of its Final Expense clients and providing others
            with the opportunity to grow Personally and Financially through this Great Opportunity.  
            The Best Is Yet to Come!!!!!!</p>
            
        <p class="bio">
            See You at The Top</p>
            
        </p>
        </li>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <h2 class="names"><i>Donaldo</i> Harris</h2>
        <p class="titles">
          Managing General Agent
        </p>
        <p class="bio">
          Donaldo M. Harris, Sr. is a husband and a father of five beautiful children.  Donaldo was born and raised in Virginia. He
          is the youngest of eight children.  Donaldo graduated with his Bachelor of Science in Mathematics and has a Master
          of Science in Educational Leadership.  Donaldo has spent the last twelve years working in the field of education
          as a School Administrator.</p>
        <p class="bio">
          Donaldo has always had a strong connection to people and a love for sales, but needed
          to find a way to be able to bring the two things he loves together.  He knew that working for someone else wasn't
          the only option and that there had to be a better way to reach his goals.  In June of 2017, Donaldo took a leap
          of faith and walked away from his career in education to pursue his passion for helping people.  Donaldo went on
          to join The Capital Group, which is a part of Lincoln Heritage Life Insurance.  He then became the founder of D.R.I.V.E.N
          (Developing Relationships, Influencing Visionaries, Empowering Neighborhoods) Insurance Group. The mission of D.R.I.V.E.N
          Insurance Group is to help individuals that are truly seeking change in their lives.  D.R.I.V.E.N is changing the
          faces of many individuals and neighborhoods. Dreams Will Become Reality.</p>
        <p class="bio">Donaldo M. Harris Sr.</p>
        </p>
        </li>
      </div>
      <div class="col-md-4">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/donaldo_bio.png" alt="Donaldo Harris">
          </p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="team-left">
              <img class="img-lead" src="../images/shenna_bio3.png" alt="Shenna Michelle">
            </p>
            </li>
          </div>
      <div class="col-md-8">
        <li class="leaders">
          <h2 class="names"><i>Shenna</i> Michelle</h2>
          <p class="titles">
            Managing General Agent
          </p>
          <p class="bio">
            Shenna Michelle has been one of The Top Producers of The Capital Group since 2016. With her track record, she became a Regional
            Sales Director less than 9 months into the business. Ms. Michelle has also earned her way to be the 1st female
            as well as youngest Managing Agent in the Capital Group. She has become one the fast recruiting managers in Mississippi.
          </p>
          <p class="bio">Shenna Michelle is a single parent of 3 children. She is one of the most influential women in her agency. Because
            of her hard work, dedication, and great work ethic, she has become the Founder of The Empowerment Group. Because
            of her story, she has encouraged and inspired women young and old to trust the process, and to never give up.
            She believes you are what you say you are. She says, "Attract what you expect, reflect what you desire, become
            what you respect, and mirror what you admire."
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <li class="leaders">
          <h2 class="names"><i>Mike</i> Hayes</h2>
          <p class="titles">
            Managing General Agent
          </p>
          <p class="bio">
            Michael Hayes joined Lincoln Heritage Life Insurance Company in July 2012, as an Independent Sales Agent.  In September 2013,
            he was promoted into the role of Managing General Agent (MGA).  Michael’s core tasks include sales, leadership, and team
            development. He has been with the company six years.</p>
          <p class="bio">
            During his tenure, his positions include Corporate Sales Director, Executive Board Director, and 
            MGA.  He is the Founder and leader of The Elite Team and its motto is
            “Every Leader Excels in Time.”</p> 
          <p class="bio">  
            Previously, Michael used his entrepreneurial talents to run several businesses successfully for 
            over 25 years.  However, his biggest accomplishment is being a proud husband and father of four
            (3 daughters and 1 son).  He enjoys reading, serving his community, meeting new people, networking, 
            team building, and traveling.</p>
          <p class="bio">His favorite author is John C. Maxwell and favorite business motto is “Reach one, teach one.”– Unknown
          </p>
      </div>
      <div class="col-md-4">
        <p class="team-left">
          <img class="img-lead" src="../images/Mike_bio.png" alt="Mike Hayes">
        </p>
      </div>
    </div>
    </li>
    <div class="row">
      <div class="col-md-4">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/Ervin_bio.png" alt="Ervin Davis">
          </p>
      </div>
      <div class="col-md-8">
        <h2 class="names"><i>Ervin</i> Davis</h2>
        <p class="titles">
          Managing General Agent
        </p>
        <p class="bio">
          My name is Ervin Davis and I come from various backgrounds including the U.S. Army and marketing for the great celebrities
          in Alabama! I never knew you could control your income and set your own destination! I've always worked for someone
          else, it was safe! But, when I found out about residual income and creating my OWN fortune, I got hooked. That
          is what Lincoln Heritage and The Capital Group has done for me. It has given me control! Do you want control? If
          so, this is the best place to do it! Hands down! No one will ever tell me again how much I am worth! Unlimited
          income potential! Great training! Outstanding office support! And, finally, you CONTROL your own Destiny!
          Never working for anyone else!</p>
        <p class="bio">"No Mercy!"</p>
        </p>
        </li>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <li class="leaders">
          <h2 class="names"><i>Robin</i> Richardson</h2>
          <p class="titles">
            Manager
          </p>
          <p class="bio">
            Began his career...
          </p>

      </div>
      <div class="col-md-6">
        <p class="team-left">
          <img class="img-lead" src="../images/Robin_bio.png" alt="Robin Richardson">
        </p>
        </li>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-8">
        <h2 class="names"><i>Charnetta</i> Barnes</h2>
        <p class="titles">
          Manager
        </p>
        <p class="bio">
            Charnetta Barnes is a wonderful wife and mother to five beautiful children.  Charnetta was born in 
            Providence, RI and was raised in New York City.  She is the oldest of six children.  Charnetta attended
            college to become a paralegal and completed 3 years of coursework.  Her passions are in cultural dancing, cooking, 
            helping people, and the environment.</p>
        <p class="bio">    
            Charnetta became a dance instructor at the age of 14 where she traveled from school to school in many 
            states to teach young children how to dance.  She inspired them with a positivity. 
            It became a non-profit organization (after school Program) where children can express themselves and 
            release some energy through the art of dance. Unfortunately, responsibility and understanding the importance 
            of a future goal came into to place.</p>
        <p class="bio">    
            On September 6, 2017 Charnetta Barnes was presented the opportunity to become apart of the Capital 
            Group, which is a subsidiary of Lincoln Heritage Insurance Company.  Charnetta Barnes took this opportunity 
            by storm.  She managed to provide service and help over 22 families within her first full week in the 
            business.  Charnetta's goal is to build and influence others and encourage individuals to follow their 
            dreams.  She also wants others to work harder on their dreams than they have on your Job.  Charnetta is helping to change the 
            lives of individuals that are seeking change and inspiration.</p>
        <p class="bio">   
            DREAMS Really Do Come True</p>
        <p class="bio">    
            Charnetta Barnes</p>
        </p>
        </li>
      </div>
      <div class="col-md-4">
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/Charnetta_bio2.png" alt="Charnetta Barnes">
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <li class="leaders">
          <h2 class="names"><i>Joshua</i> Napier</h2>
          <p class="titles">
            Manager
          </p>
          <p class="bio">
            Hello, my name is Joshua Napier and I have been with Lincoln Heritage Life Insurance Company for more than a year.  I am the proud
            father of 5 amazing little boys.  I worked as a restaurant supervisor for years.  I've managed three eateries and worked
            in industrial warehouses living paycheck to paycheck.  I was injured severely at Glass Manufacturing Company,
            Coral Industries.  I was physically handicapped for years and nearly forced to have my arm amputated.  But by the
            Grace of God, the support I had from my wife, Charnetta Barnes, and my family is the reason I was able to recover
            successfully.</p> 
          <p class="bio">
            Through the time I've been with Lincoln Heritage Insurance Company, my life has done a complete 360-degree
            turn.  The personal development has not only changed things for me, but it has changed the things around me and
            the way I look at them.  I am so blessed to have the opportunity to take control of my life, my income, and have
            the chance to change the lives of the people around me.  My goal is to become a Millionaire with Agent Success Management
            and enjoy life as a Business Owner.  The Sky is the Limit.  I'll See You At The Top.
          </p>
      </div>
      <div class="col-md-4">
        <p class="team-left">
          <img class="img-lead" src="../images/Josh_bio.png" alt="Joshua Napier">
        </p>
        </li>
      </div>
    </div> -->
      <div class="col-md-8">
        <h2 class="names"><i>Keith</i> Adams</h2>
        <p class="titles">
          Manager
        </p>
        <p class="bio">
            I am Keith Adams from Pompano Beach, FL.  I am the proud father of two boys.  I am a United States 
            Marine Corp Veteran and former Law Enforcement Officer of thirteen years.</p>
        <p class="bio">
          Upon joining Agent Success Management, a subsidiary of Lincoln Heritage Insurance Company, I was the 
          Top Producer of the company within three months of being in the business with a production total of over 
          $18,000 in annualized premiums.</p>
        <p class="bio">    
            I believe in “Risking Failure to Achieve Success.”  My belief is that you must give to gain.  
            I am excited about being a part of one of the fastest growing agencies within The Capital Group.  
            I believe in the vision and the direction Agent Success Management is going.</p>
        <p class="bio">Shark Shark!
        </p>
        </li>
      </div>
      <div class="row">
        <div class="col-md-4">
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/Keith_bio.png" alt="Keith Adams">
            </p>
        </div>
    </div>
    </ul>
  </div>
  </div>
  <div class="container mobileShow">
    <div class="jumbotron">
      <h1 class="meet">Meet Our <b>MANAGEMENT</b> TEAM</h1>
      <hr id="leaderPage">
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/fernando_bio.png" alt="Fernando Lassiter">
            </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Fernando</i> Lassiter</h2>
        <p class="titles">
          Founder
        </p>
        <p class="bio">
            Fernando Lassiter grew up in North Carolina.  He is the oldest of three siblings.  
            He attended North Carolina Central University for three years where he studied Accounting.  
            He then decided to pursue small business ownership.  He also spent over fifteen years in 
            the retail sales industry selling appliances and electronics.  He spent three years in the 
            pharmaceutical manufacturing industry.  He was also involved in the direct sales industry 
            where he was introduced to the astounding benefits of Personal Development.  Realizing that 
            traditional employment could make you a decent living but rarely a six-figure income, he 
            always kept his business options open.</p>
            
        <p class="bio">
            Fernando has always had a passion for working with and helping others.  He has always had a 
            Problem Solvers’ mentality.</p>
            
        <p class="bio">
            In 2013, he was presented with a unique opportunity to work with Mr. Sean Simmons and his 
            Insurance Agency, Agent Success Management in Alabama.  After three years of management 
            training in the Agent Success Management system, he established The Capital Group Insurance 
            Agency.  The Capital Group Insurance Agency is the second largest and second highest producing 
            agency under the ASM umbrella.</p>
            
        <p class="bio">
            Fernando is extremely excited about the future of The Capital Group Insurance Agency.  
            Having earned a six-figure income in his second year with ASM, he’s excited about working 
            directly with the up and coming six-figure earners associated within The Capital Group team.   
            The Capital Group is dedicated to taking care of its Final Expense clients and providing others
            with the opportunity to grow Personally and Financially through this Great Opportunity.  
            The Best Is Yet to Come!!!!!!</p>
            
        <p class="bio">
            See You at The Top</p>
            
        </p>
        </li>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/donaldo_bio.png" alt="Donaldo Harris">
            </p>
        </div>
        <div class="col-md-6">
          <h2 class="names"><i>Donaldo</i> Harris</h2>
          <p class="titles">
            Managing General Agent
          </p>
          <p class="bio">
              Donaldo M. Harris, Sr. is a husband and a father of five beautiful children.  Donaldo was born and raised in Virginia. He
              is the youngest of eight children.  Donaldo graduated with his Bachelor of Science in Mathematics and has a Master
              of Science in Educational Leadership.  Donaldo has spent the last twelve years working in the field of education
              as a School Administrator.</p>
            <p class="bio">
              Donaldo has always had a strong connection to people and a love for sales, but needed
              to find a way to be able to bring the two things he loves together.  He knew that working for someone else wasn't
              the only option and that there had to be a better way to reach his goals.  In June of 2017, Donaldo took a leap
              of faith and walked away from his career in education to pursue his passion for helping people.  Donaldo went on
              to join The Capital Group, which is a part of Lincoln Heritage Life Insurance.  He then became the founder of D.R.I.V.E.N
              (Developing Relationships, Influencing Visionaries, Empowering Neighborhoods) Insurance Group. The mission of D.R.I.V.E.N
              Insurance Group is to help individuals that are truly seeking change in their lives.  D.R.I.V.E.N is changing the
              faces of many individuals and neighborhoods. Dreams Will Become Reality.</p>
            <p class="bio">Donaldo M. Harris Sr.</p>
          </p>
          </li>
        </div>
      </div>
    <div class="row">
      <div class="col-md-6">
          <li class="leaders">
            <p class="team-left">
              <img class="img-lead" src="../images/shenna_bio3.png" alt="Shenna Michelle">
            </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Shenna</i> Michelle</h2>
        <p class="titles">
          Managing General Agent
        </p>
        <p class="bio">
          Shenna Michelle has been one of The Top Producers of The Capital Group since 2016. With her track record, she became a Regional
          Sales Director less than 9 months into the business. Ms. Michelle has also earned her way to be the 1st female
          as well as youngest Managing Agent in the Capital Group. She has become one the fast recruiting managers in Mississippi.
        </p>
        <p class="bio">Shenna Michelle is a single parent of 3 children. She is one of the most influential women in her agency. Because
          of her hard work, dedication, and great work ethic, she has become the Founder of The Empowerment Group. Because
          of her story, she has encouraged and inspired women young and old to trust the process, and to never give up. She
          believes you are what you say you are. She says, "Attract what you expect, reflect what you desire, become what
          you respect, and mirror what you admire."
        </p>
      </li>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/Mike_bio.png" alt="Mike Hayes">
          </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Mike</i> Hayes</h2>
        <p class="titles">
          Managing General Agent
        </p>
        <p class="bio">
            Michael Hayes joined Lincoln Heritage Life Insurance Company in July 2012, as an Independent Sales Agent.  In September 2013,
            he was promoted into the role of Managing General Agent (MGA).  Michael’s core tasks include sales, leadership, and team
            development. He has been with the company six years.</p>
          <p class="bio">
            During his tenure, his positions include Corporate Sales Director, Executive Board Director, and 
            MGA.  He is the Founder and leader of The Elite Team and its motto is
            “Every Leader Excels in Time.”</p> 
          <p class="bio">  
            Previously, Michael used his entrepreneurial talents to run several businesses successfully for 
            over 25 years.  However, his biggest accomplishment is being a proud husband and father of four
            (3 daughters and 1 son).  He enjoys reading, serving his community, meeting new people, networking, 
            team building, and traveling.</p>
          <p class="bio">His favorite author is John C. Maxwell and favorite business motto is “Reach one, teach one.”– Unknown
          </p>
      </div>
      </li>
    </div>
    <div class="row">
      <div class="col-md-6">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/Ervin_bio.png" alt="Ervin Davis">
          </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Ervin</i> Davis</h2>
        <p class="titles">
          Managing General Agent
        </p>
        <p class="bio">
          My name is Ervin Davis and I come from various backgrounds including the U.S. Army and marketing for the great celebrities
          in Alabama! I never knew you could control your income and set your own destination! I've always worked for someone
          else, it was safe! But, when I found out about residual income and creating my OWN fortune, I got hooked. That
          is what Lincoln Heritage and The Capital Group has done for me. It has given me control! Do you want control? If
          so, this is the best place to do it! Hands down! No one will ever tell me again how much I am worth! Unlimited
          income potential! Great training! Outstanding office support! And, finally, you CONTROL your own Destiny!
          Never working for anyone else!</p>
        <p class="bio">"No Mercy!"</p>
        </p>
        </li>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <p class="team-left">
          <img class="img-lead" src="../images/Robin_bio.png" alt="Robin Richardson">
        </p>
      </div>
      <div class="col-md-6">
        <li class="leaders">
          <h2 class="names"><i>Robin</i> Richardson</h2>
          <p class="titles">
            Manager
          </p>
          <p class="bio">
            Began his career...
          </p>
      </div>
      </li>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-6">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/Charnetta_bio2.png" alt="Charnetta Barnes">
          </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Charnetta</i> Barnes</h2>
        <p class="titles">
          Manager
        </p>
        <p class="bio">
            Charnetta Barnes is a wonderful wife and mother to five Beautiful children.  Charnetta was born in 
            Providence, RI and was raised in New York City.  She is the oldest of six children.  Charnetta attended
            college to become a paralegal and completed 3 years of coursework.  Her passions are in cultural dancing, cooking, 
            helping people, and the environment.</p>
        <p class="bio">    
            Charnetta became a dance instructor at the age of 14 where she traveled from school to school in many 
            states to teach young children how to dance.  She inspired them with a positivity. 
            It became a non-profit organization (after school Program) where children can express themselves and 
            release some energy through the art of dance. Unfortunately, responsibility and understanding the importance 
            of a future goal came into to place.</p>
        <p class="bio">    
            On September 6, 2017 Charnetta Barnes was presented the opportunity to become apart of the Capital 
            Group, which is a subsidiary of Agent Success Managment.  Charnetta Barnes took this opportunity 
            by storm.  She managed to provide service and help over 22 families within her first full week in the 
            business.  Charnetta's goal is to build and influence others and encourage individuals to follow their 
            dreams.  She also wants others to work harder on their dreams than they have on your Job.  Charnetta is helping to change the 
            lives of individuals that are seeking change and inspiration.</p>
        <p class="bio">   
            DREAMS Really Do Come True</p>
        <p class="bio">    
            Charnetta Barnes</p>
        </p>
        </li>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="team-left">
          <img class="img-lead" src="../images/Josh_bio.png" alt="Joshua Napier">
        </p>
      </div>
      <div class="col-md-6">
        <li class="leaders">
          <h2 class="names"><i>Joshua</i> Napier</h2>
          <p class="titles">
            Manager
          </p>
          <p class="bio">
              Hello, my name is Joshua Napier and I have been with Lincoln Heritage Life Insurance Company for more than a year.  I am the proud
              father of 5 amazing little boys.  I worked as a restaurant supervisor for years.  I've managed three eateries and worked
              in industrial warehouses living paycheck to paycheck.  I was injured severely at Glass Manufacturing Company,
              Coral Industries.  I was physically handicapped for years and nearly forced to have my arm amputated.  But by the
              Grace of God, the support I had from my wife, Charnetta Barnes, and my family is the reason I was able to recover
              successfully.</p> 
            <p class="bio">
              Through the time I've been with Lincoln Heritage Insurance Company, my life has done a complete 360-degree
              turn.  The personal development has not only changed things for me, but it has changed the things around me and
              the way I look at them.  I am so blessed to have the opportunity to take control of my life, my income, and have
              the chance to change the lives of the people around me.  My goal is to become a Millionaire with Agent Success Management
              and enjoy life as a Business Owner.  The Sky is the Limit.  I'll See You At The Top.
            </p>
      </div>
      </li>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <li class="leaders">
          <p class="team-left">
            <img class="img-lead" src="../images/Keith_bio.png" alt="Keith Adams">
          </p>
      </div>
      <div class="col-md-6">
        <h2 class="names"><i>Keith</i> Adams</h2>
        <p class="titles">
          Manager
        </p>
        <p class="bio">
            I am Keith Adams from Pompano Beach, FL.  I am the proud father of two boys.  I am a United States 
            Marine Corp Veteran and former Law Enforcement Officer of thirteen years.</p>
        <p class="bio">
          Upon joining Agent Success Management, a subsidiary of Lincoln Heritage Insurance Company, I was the 
          Top Producer of the company within three months of being in the business with a production total of over 
          $18,000 in annualized premiums.</p>
        <p class="bio">    
            I believe in “Risking Failure to Achieve Success.”  My belief is that you must give to gain.  
            I am excited about being a part of one of the fastest growing agencies within The Capital Group.  
            I believe in the vision and the direction Agent Success Management is going.</p>
        <p class="bio">Shark Shark!
        </p>
        </li>
      </div>
    </div>
    </ul>
  </div>
  </div>
</section>