<section class="leadership">
    <div class="container">
        <div class="jumbotron">
            <h1 class="meet">Our <b>PRODUCT</b></h1>
            <hr id="leaderPage">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="productHeading">Capital Group Insurance is a partner of the #1 Final Expense Company in the USA, Lincoln Heritage Life Insurance
                    Company.
                </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p class="productPara">Like everything today, funeral costs are rising. It's not uncommon for funeral costs to run tens of thousands
                    of dollars, potentially leaving loved ones with a big financial burden.
                </p>
                <p class="productPara">But there is a simple solution. The Funeral Advantage program was designed to be a one stop easy way for
                    Americans ages 40-85 to protect their loved ones from this possible financial hardship.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 lincImg img-responsive">
                <img class="img-responsive" src="../images/LH_logo.png" alt="Lincoln Heritage Funeral Advantage">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="productHeading">The Funeral Advantage program has two key components:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="twoKeys">Final Expense Life Insurance Cash Benefit</h1>
                <ul class="components">
                    <li class="cashBenefits">Cash benefits are paid within 24 hours, once a claim is approved.</li>
                    <li class="cashBenefits">Whole life benefits available up to $20,000.</li>
                    <li class="cashBenefits">No health examination necessary to apply, just a few health questions on the application.</li>
                    <li class="cashBenefits">Easy, one-page application.</li>
                    <li class="cashBenefits">Most people get coverage, even with health issues.</li>
                    <li class="cashBenefits">Rate and benefit are locked in for the life of the policy for as long as premiums are paid.</li>
                    <li class="cashBenefits">$100,000 additional benefit for accidental death available.</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-122">
                    <h1 class="twoKeys">Family Support Services</h1>
                    <ul class="components">
                        <li class="cashBenefits">Provided at no additional cost through <b><i>Funeral Consumer Guardian Society® (FCGS) </i></b></li>
                        <li class="cashBenefits">FCGS keeps your wishes safe and secure on file.</li>
                        <li class="cashBenefits">Members' loved ones get a 24-hour toll-free service number to call in time of need.</li>
                        <li class="cashBenefits">FCGS immediately goes into action — comparing up to 3 different funeral homes to find the best price
                            available.
                        </li>
                        <li class="cashBenefits">Families save an average of $1,800 on traditional funerals and up to $600 on cremation.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-122 text-center">
                    <button type="button" class="learn" ng-click="goToLH()">LEARN MORE</button>
                </div>
            </div>
        </div>
    </div>
</section>