<!-- Container (Mission Section) -->
<div class="w3-content w3-container w3-padding-64" id="missionStatement">
        <h1 id="ourMission">OUR MISSION</h1>
        <p class="mission">The Capital Group Insurance Agency, LLC, an independent insurance agency, 
            is the attainment of final expense clients through knowledge and integrity of our products and 
            services. We accomplish this by developing our agents through training and personal development.</p>
</div>

<!-- Second Parallax Image -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="producer">
        <img class="w3-image" src="../images/Top_Producer.png" alt="Top Producer" width="1500" height="800">
<!-- <div class="bgimg-2 w3-display-container w3-opacity-min"> -->
    <!-- <div class="w3-display-middle"> -->
    <!-- </div> -->
<!-- </div> -->
</header>

<!-- Container (Vision Section) -->
<div class="w3-content w3-container w3-padding-64" id="visionStatement">
        <h1 id="ourVision">OUR VISION</h1>
        <p class="mission">A vision statement is sometimes called a picture of your company in the future 
            but it's so much more than that. Your vision statement is your inspiration...</p>
</div>