<section id="showcase" on-fininsh-render>
<div id="carouselCG" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img class="carousel img-responsive" src="../images/CG_Ins_logo_black.png" alt="Capital Group Insurance Agency">
      </div>
      <div class="item">
        <img class="carousel img-responsive" src="../images/topProducer.png" alt="Top Producer">
      </div>
      <div class="item">
        <img class="carousel img-responsive" src="../images/newsletter.png" alt="Newsletter">
      </div>
      <div class="item">
        <img class="carousel img-responsive" src="../images/chile.png" alt="Chile">
      </div>
    </div>
  </div>
</section>

<!-- <section id="showcase" on-fininsh-render>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img class="img-responsive" src="../images/CG_Ins_logo_black.png" alt="Capital Group Insurance Agency">
            </div>
        </div>
    </div>
</section> -->

<section id="mission">
    <div class="container">
        <h1 id="ourMission">OUR MISSION</h1>
        <p class="mission">The Capital Group Insurance Agency's mission is to grow individuals personally
            and financially which allows them to serve the greater community with exceptional service.  We 
            provide moral and ethical advice regarding our final expense insurance products, thereby providing 
            families with protection and peace of mind.
        </p>
    </div>
</section>

<!-- <section id="topsales">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="topsales-left">
                    <img class="img-responsive" src="../images/Top_Producer.png" alt="Top Producer">
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="topsales-right">
                    <h2>EXOTIC INCENTIVE TRIPS</h2>
                    <p>If you will stay committed and persistent, you could qualify for an all expense paid to destinations like Hawaii,
                        Alberta Cananda, and Germany!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="vision">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="vision-left">
                            <h1>OUR VISION</h1>
                            <p>The Capital Group Insurance Agency's vision is to grow our team through personal
                                development and mentorship so that they may live above average lifestyles and serve
                                our communities and the whole of humanity.
                            </p>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-xs-6">
                    <div class="vision-right">
                            <h1>OUR CORE VALUES</h1>
                        <p>Integrity<br>Compassion<br>Education<br>Consistency
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>